#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#container-column {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#container2 {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}

#container-column2 {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
